div {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'gulim'
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../aaaaa/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}

.main-text {
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}

.buy-button {
    display: inline-block;
    padding: 5px;
}

.sub-box {
    width: 350px;
    height: 100px;
    background-color: lightgray;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 480px;
    text-align: center;
}

.main1-background {
    width: 100%;
    height: 600px;
    background-color: dimgrey
}

.sub1-box {
    position: relative;
    margin: auto;
    width: 300px;
    height: 450px;
    padding: 20px;
    background-color: white;
    top: 50px;
}

.name-box {
    float: left;
    width: 50%;
    padding: 5px;
}

.box-style {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.message-style {
    padding: 40px;
}

table {
   margin: 0 auto;
    /* 셀 사이의 미세한 틈새(여백) 제거 */
    border-collapse: collapse;
    border-spacing: 0;
}

.cart-background {
    width: 600px;
    height: 600px;
    padding: 20px;
    background-color: darkturquoise;
}

.cart-in-background {

    background-color: white;
}

.cart-table {
    background-color: aliceblue;

    border-radius: 5px;
}



td {
    text-align: right;
}

.cart-table td {
    border-bottom: 1px solid #c2d3de;
    padding: 10px;
}

.cart-button {
    background-color: blue;
    color: white;
    padding: 10px;
    float: right;
    cursor: pointer;
}

.cart-button:hover {
    background-color: chocolate;
    /*hover->focus->active*/
}

.flex-background {
    display: flex;
    height: 40px;
    padding: 1px;
    align-items: center;
    background-color: orange;
}

.flex-box {
    color: aliceblue;
    margin-right: 5px;
}

.container {
    padding: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_box {
    width: 25%;
    text-align: center;
}


.container i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: white;
    font-size: 30px;
    padding-top: 30px;
    margin-top: 25px;
    box-sizing: border-box;
}

.shop-container {
    display: flex;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    height: 100%;
    display: block;
}

.shop-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding-left: 10px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: all 1s;
    transition-timing-function: cubic-bezier(.83, .01, .76, .79);
}

.shop-item:hover .shop-overlay{
    transform: translateY(50%);
}

.Landing_Page_box {
    background-image: linear-gradient(blue,purple);
    display: flex;
}


.Landing_Page_iphone {
    width: 40%;
    display: block;
    margin: auto;
}

.Landing_Page_text {
    width: 50%;
    padding: 30px;
    color: #eee;
}


@media screen and (max-width: 768px) {
    .Landing_Page_box{
        flex-direction: column;
    }
    .Landing_Page_text{
        width: 100%;
        text-align: center;
    }
    .iphone{
        width: 100%;
        display: block;
        margin: auto;
    }
}

.Landing_Page_Portfolio {
    text-align: center;
    padding: 40px;
}

.Landing_Page_Services {
    background-color: deepskyblue;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}

.Landing_Page_Services i{
    background-color: wheat;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding-top: 18px;
    box-sizing: border-box;
    
    
}

.Landing_Page_icon {
    padding: 10px;
    font-size: 10px;
    margin-bottom: 30px;
}



.Landing_Page_Portfolio_Container {
    margin: auto;
    text-align: left;
    max-width: 1200px;
}

.Landing_Page_Portfolio_Box {
    color: aliceblue;
    float: left;
    width: 50%;
    height: 350px;
    background-image: url(../image/portfolio-1-1.jpg);
    background-size: cover;
    padding: 30px;
    clip-path: inset(0% 0% 0% 0%);
    transition: 1s;
}

.Landing_Page_Portfolio_Box:hover {
    clip-path: inset(5% 5% 5% 5%);
}

@media screen and (max-width: 1200px) {
    .main-title{
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    .main-title{
        font-size: 16px;
    }
}


@media screen and (max-width: 1200px) {
    .container{
        flex-wrap: wrap;
    }
    .container_box{
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }
}
.sub_box {
    display: flex;
    justify-content : center;
    padding: 30px
}

.sub_box i{
    background-color: mediumblue;
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
}

.iphone {
    width: 50%;
    height: 100%;
}

.Bootstrap_container {
    display: flex;
}
